
@import url(./dana.css);
html{
    scroll-behavior: smooth;
   
}
body { 
    overscroll-behavior-y: none;
    margin: 0;
    font-family: 'dana regular' !important;
    font-weight: 400 !important;
    direction: rtl !important;
    font-size: 14px !important;   
    line-height: 1.5 !important;
}
a{
    text-decoration: none !important;
    color: #000 !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

a:visited{
    color: unset !important;
}
a:hover{
    color: #ef4e24 !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.color-white {
    color:rgba(225, 225, 225, 1);
}

button{
  font-family: 'dana regular' !important;
  font-weight: 700 !important;
}
.text-center{
    text-align: center !important;
}
.text-color{
    color: #a5a5a5 !important;
}