  .menu {
    display:  flex ;
    flex-direction:  column ;
    align-items: flex-start ;
    padding-top: 20px ;
    font-weight:  bold !important ;
    
  }

  .menuItem {
    margin: 5px 0;
    display: block ;
    width: 120px ;
    color: #000;
  }


  .menuLink {
    padding:  10px 20px;
    display:  block ;
    text-align:  right ;
    width:  100% ;
    cursor:  pointer ;
    
    
  }
 .menuLink:hover {
      background: #eee  ;
      align-items: center 
 }
  

  .drawer {
    z-index:  10002 ,

  }
  
